<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/admin-top.xhtml"> <!--template="/admin-top.xhtml>" to use horizontal layout -->

    <ui:define name="head">
        <title>Admin Starter</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon.ico']}"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-16x16.png']}" sizes="16x16"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-32x32.png']}" sizes="32x32"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-96x96.png']}" sizes="96x96"/>
        <link rel="manifest" href="manifest.json"/>
        <meta name="theme-color" content="#444"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <f:loadBundle var="msg" basename="starter"/>
        <h:outputStylesheet library="css" name="starter.css"/>
    </ui:define>

    <ui:define name="logo">
        Bening Semesta
    </ui:define>

     <ui:define name="menu">
         <ui:include src="/includes/menubar.xhtml"/>
     </ui:define>

    <ui:define name="top-menu">
        <ui:include src="/includes/top-bar.xhtml"/>
    </ui:define>
    


    <ui:define name="footer">
          <a target="_blank"
           href="https://github.com/adminfaces/">
            Copyright (C) 2017 - AdminFaces
        </a>

        <div class="pull-right hidden-xs" style="color: gray">
            <i>#{msg['starter.version']}</i>
        </div>

        <script type="text/javascript">
            if(isMobile()) {
                $('a.ui-link').click(function() {
                    $(this).prop('disabled', true);
                    showBar();
                });
            }
        </script>
    </ui:define>


</ui:composition>